.favorites {
  display: flex;
}

.favorites input {
  border-radius: 2px;
  width: 85%;
  height: 2rem;
  border: 1px solid #c5c5c5;
  margin-right: 5px;
  text-indent: 5px;
}

.favorites button {
  font-size: 1.1rem;  
  color: white;  
  border-radius: 2px;
  width: 15%;
  height: 2rem;
  border: none;
  background-color: #157bff;
}

.favorites button:hover {
  cursor: pointer;
  background-color: #0060dd;
}

.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 2rem 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #157bff;
}

.input {
  margin: 0.5rem 0 ;
  border-radius: 2px;
  width: 100%;
  height: 2rem;
  border: 1px solid #c5c5c5;
  margin-right: 5px;
  text-indent: 5px;
}

.button {
  margin-top: auto;
  width: 100%;
  font-size: 1.1rem;  
  color: white;
  border-radius: 2px;
  height: 2rem;
  border: none;
  background-color: #0060dd;
}

.button:hover {
  cursor: pointer;
  background-color: #004db1;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: #157bff;
  margin: 0 2px;
}

.icon {
  cursor: pointer;
}