.bookmarksFolderNode {  
  
}

.bookmarksMainFolderNode {
  display: flex;
  align-items: center;
  width: 260px;
  height: 40px;
}

.bookmarksSubFolderNode {

}

.verticalTab {
  width: 4px;
  height: 33px;
  border-radius: 4px;
}

.innerContainer {
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 50px;
}

.ironIcon {
  width: 12px;
  height: 12px;
  color: #797A7D;
}

.folderIcon {
  width: 20px;
  height: 20px;
}

.menuLabel {
  /* width: 196px; */
  padding: 0 6px;
  font-size: 0.8rem;
}

.folderIcon:hover,
.menuLabel:hover {
  cursor: pointer;
}